
/*
 *  =================================================================
 *
 *    06.03.24   <--  Date of Last Modification.
 *                   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *  -----------------------------------------------------------------
 *
 *  **** Module  :  css/cofe.theme.aliceblue.css
 *       ~~~~~~~~~
 *  **** Project :  jsCoFE - javascript-based Cloud Front End
 *       ~~~~~~~~~
 *  **** Content :  Common Style Sheets
 *       ~~~~~~~~~
 *
 *  (C) E. Krissinel, M. Fando  2024
 *
 *  =================================================================
 *
 */

.main-scene  {
  background-color  : rgb(243, 250, 255);
/*  border-style      : none;
  margin            : 0px 0px 0px 0px;
  padding-top       : 0px;
  padding-left      : 6px;
  padding-bottom    : 0px;
  padding-right     : 0px; */
  /* background-image  : url("../images_png/background_remote.png"); */
  /* background-color    : "alicablue"; */
  /*  // "background-color"    : "rgb(231, 250, 255)";  */
  /* background-repeat : no-repeat; */
  /* background-size   : cover;     */
  /* background-position : center center; */
}

.logo-panel  {
  position         : absolute;
  left             : 0px;
/*  bottom           : -1px;  this does not work in some cases, therefore ugly 'top' */
  top              : calc(100vh - 34px);
  margin-top       : 0px;
  margin-left      : 0px;
  margin-right     : 0px;
  margin-bottom    : 0px;
  padding-top      : 0px;
  padding-left     : 0px;
  padding-bottom   : 0px;
  padding-right    : 0px;
  /* height           : 16px; */
  background-color : rgb(240, 250, 255);
  border-top       : 1px solid lightgray;
/*  box-shadow: 10px 10px lightblue; */
/*  background-color : rgba(240,250,255,0.67); */
}
