# Copy to env.sh and uncomment and edit as appropriate.

# Path to CCP4 installation
CCP4_DIR="/PATH/TO/ccp4"

# Uncomment if Buster is installed
# BUSTER_DIR=/PATH/TO/buster-main

# Not having PDB archive locally (optional but strongly recommended) will cause
# downloading from PDB each time a PDB file is required. This may slow down
# certain tasks considerably.
# export PDB_DIR=/PATH/TO/pdb
# export PDB_SEQDB=/PATH/TO/pdb_derived_data/pdb_seqres.txt

# export AFDB_SEQDB=/PATH/TO/afdb/sequences.fasta

# export SIMBAD_DB=/PATH/TO/simbad_db

# Gesamt archive (optional) is needed for fast structural searches
# in the PDB with Gesamt
# export GESAMT_ARCHIVE=/PATH/TO/db/gesamt_archive

# CCP4 Cloud documentation repository (optional) is needed for making
# contributions to the CCP4 Cloud documentation project
# export DOCREPO=/PATH/TO/jscofe-dev/jscofe-doc

# no path is required for AF2 configuration on the Front End, but the variable should be defined
# export ALPHAFOLD_CFG=1

# uncomment to enable CCP4(i2) demo data
# export USE_CDEMODATA=1
