*.pyc
__pycache__
.vscode/
.DS_Store
*.bak
*.old
*.new
webCoot.bak/
images_png_0/
images_png_new/
package-lock.json
node_modules/
cofe-browser/node_modules/
cofe-browser/npm_install.sh
settings.json
.bzr
.bzrignore
/conf
jscofe.min.css
jscofe.min.html
jscofe.min.js
jscofe.min.js.map
